:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: rgb(80, 45, 0);
}

.drink-container h2 {
  margin: 25px;
  background-color: rgb(134, 95, 43);
  text-align: center;
  color: rgb(245, 245, 245);
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  position: relative;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.mini-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 4%;
}

.mini-container #wrong {
  font-weight: bold;
  background-color: red;
}

.mini-container #correct {
  font-weight: bold;
  background-color: rgb(49, 229, 49);
}

.answer-space {
  background-color: rgb(205, 149, 76);
  width: 250px;
  height: fit-content;
  text-align: center;
  color: white;
  font-weight: bold;
}

.mini-container li {
  list-style: none;

}

.mini-container li:hover {
  font-weight: bolder;
}

.mini-container h3 {
  text-align: center;
  color: rgb(146, 102, 45);
}


button {
  background-color: rgb(146, 102, 45);
  color: white;
  font-size: 16px;
  padding: 10px;
}